@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Silkscreen:wght@700&display=swap');
* {
box-sizing: border-box;
}
body {
font-family: 'Roboto', sans-serif;
}
header {
background-color:blue;
padding: 30px;
text-align: center;
font-size: 35px;
color:yellow;
font-family: 'Silkscreen', cursive;
}
section{
    display: flex;
}
nav{
float: left;
width: 30%;
background:yellow;
padding: 20px;
color: yellow;
}
nav ul{
list-style-type: none;
padding: 0;
}
article{
float: left;
padding: 20px;
width: 70%;
background-color:purple; 
color: yellow;
}
section:after{
content: "";
display: table;
clear: both;
}
footer{
background-color:purple   ;
padding: 10px;
text-align: center;
color:yellow;
}
@media only screen and (max-width: 620px)
{
article, nav{
    width: 100%;
    background: purple;
}
section {
    display: block;
    background-color: purple;
}
   
}